.pageName {
    float: left;
    font-size: 3rem;
}

.leftMenuName {
    float: left;
    padding-left : 2em;
    font-size: 1.5rem;
}

.rightMenuName {
    float: right;
    padding-right : 2em;
    font-size: 1.5rem;
}

.navbar {
    font-size: 2rem;
    padding: 2em;
    background-color: blanchedalmond;
}

.navbarLogo{
    color: green;
}

ul {
    float: left;
    list-style: none;
}

li{
    display : inline-block;
    list-style: none;
    padding-left : 1em;
    padding-right : 1em;
}

nav{
    padding-left : 3em;
}

.subMenuItem_1{
    display : none;
}

.subMenuItem{
    display : none;
}




